@use "variables";
.Top-Menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 0 100px 0;
  .btn{
    background: transparentize(black, .75);
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all .2s;
    &:hover{
      background: transparentize(black, .5);
    }
  }
  .top-logo{
    margin: 0 !important;
  }
}
.game{
  display: flex;
  align-items: center;
  .player{
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 3px 0 3px black;
    height: 120px;
    width: 100px;
    position: relative;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &:first-of-type{
      margin-right: min(4vw,50px);
    }
    &:last-of-type{
      margin-left: min(4vw,50px);
    }
    *{
      font-weight: bold;
    }
    .score{
      font-size: 2rem;
    }
    img{
      width: 40px;
      height: 40px;
      position: absolute;
      top: -15px;
      left: 29px;

    }
  }
  .The-Game-Field-Container{
    position: relative;
    .win_draw_popup{
      position: absolute;
      width: 150px;
      height: 120px;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      box-shadow: 0 3px 0 3px black;
      border-radius: 25px;
      bottom: -60px;
      left: 35%;
    }
    .play-btn{
      background: variables.$violet;
      padding: 7px 12px;
      border-radius: 25px;
      color: white;
      transition: all .2s;
      cursor: pointer;
      &:hover{
        background: darken(variables.$violet, 10%);
      }
    }
  }

}

@media (max-width: 768px){
  .game{
    flex-flow:row wrap;
    justify-content: center;
    gap: 25px;
    max-width: 490px;
    width: 100%;
    .player{
      width: 43%;
      height: 85px;
      margin: 0 0 50px 0 !important;
      padding: 5px;
      img{
        left: 40%;
        top: -25px;
      }
      .score{
        height: 40px;
      }
      div{
        height: 20px;
      }
    }
    .The-Game-Field-Container{
      order: 2;
    }
  }
}
@media (max-width: 500px) {
  .Game-Field-Wrapper{
    width: 95vw;
  }
  .The-Game-Field-Container{
    width: 100%;
    max-height: 420px;
    height: calc(110% + 100px);
  }

}